@inject NavigationManager NavMan
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<button @onclick="LogoutUser" class="btn-primary">Log out</button>

@code {
    public async Task LogoutUser()
    {
        await Globals.LogoutUser(localStorage);
        // Navigates to root rel address (homepage) to avoid security issues
        NavMan2.NavigateTo("", forceLoad: true);
    }

    private static NavigationManager NavMan2;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // Injected components are only accessible in this method
        // so we rob the bank by assigning from here.
        NavMan2 = NavMan;
    }

}
