@inject NavigationManager NavMan
@inject Blazored.LocalStorage.ILocalStorageService localStorage 


@inherits LayoutComponentBase
@using Shared.Forms
@using Shared.Models

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <!-- If not logged in (CURR_USER = null), then load create account and login buttons -->
            <!-- Else, welcome the current user and give them the option to log out -->
            <!-- Updating this requires refreshing the page, hence the use of NavigationManager in Shared.Forms.LogoutButton, etc. -->
            @if (curr_user == null)
            {
                <Go.Shared.Forms.CreateAccountForm />
                <div class="divider" />
                <Go.Shared.Forms.LoginForm />
            }
            else
            {
                <div>Welcome, @(curr_user.name)!</div>
                <div class="divider" />
                <Go.Shared.Forms.LogoutButton />
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    IUser curr_user;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        curr_user = await Globals.GetUser(localStorage);
        StateHasChanged();
    }
}
