@inject NavigationManager NavMan 

@inherits LayoutComponentBase
@using Shared.Forms 

<div class="page">
    <div style="background-image: none" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <!-- If not logged in (CURR_USER = null), then load create account and login buttons -->
            <!-- Else, welcome the current user and give them the option to log out -->
            <!-- Updating this requires refreshing the page, hence the use of NavigationManager in Shared.Forms.LogoutButton, etc. -->
            <ul class="header">
                @if (Globals.CURR_USER == null)
                {
                    <li class="headitem">
                        <Go.Shared.Forms.CreateAccountForm />
                    </li>
                    <li class="headitem">
                        <Go.Shared.Forms.LoginForm />
                    </li>


                }
                else
                {
                    <li class="headitem" style="font-size:24px">Welcome, @(Globals.CURR_USER.name)! </li>
                    <li class="headitem">
                        <Go.Shared.Forms.LogoutButton />
                    </li>
                }
            </ul>
</div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

}
