@inject Blazored.LocalStorage.ILocalStorageService localStorage

@using Go.Shared.Models.MongoDB
@using Go.Shared.Models


<div class="top-row pl-4 navbar navbar-dark">
    <center>
        <img src="images/Go_Logo_With_White_Go.png" style="width: 160px ; height: auto; padding-left: 40px">
    </center>
    
    <!--<button class="button-primary" type="button" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>-->

</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" style="color: black" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" style="color: black" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" style="color: black" href="localgameoptions" Match="NavLinkMatch.All">
                <span class="oi oi-contrast" style="color: black" aria-hidden="true"></span> Play Local
            </NavLink>
        </li>
        @if (curr_user is Player or Admin)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" style="color: black" href="onlinegameoptions" Match="NavLinkMatch.All">
                    <span class="oi oi-wifi" style="color: black" aria-hidden="true"></span> Play Online
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" style="color: black" href="lessonmenu" Match="NavLinkMatch.All">
                <span class="oi oi-book" style="color: black" aria-hidden="true"></span> Lessons
            </NavLink>
        </li>
        @if (curr_user is Player or Admin)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" style="color: black" href="account" Match="NavLinkMatch.All">
                    <span class="oi oi-person" style="color: black" aria-hidden="true"></span> My Account
                </NavLink>
            </li>
        }
        </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private IUser curr_user;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        curr_user = await Globals.GetUser(localStorage);
        StateHasChanged();
    }
}
