@using Go.Shared.Models.MongoDB
@using Go.Shared.Models

<div class="top-row pl-4 navbar navbar-dark">
    <center>
        <img src="img/Go_Logo_With_Black_Go.png" style="width: 100px ; height: auto;">
    </center>
    
    <!--<button class="button-primary" type="button" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>-->

</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="localgameoptions" Match="NavLinkMatch.All">
                <span class="oi oi-contrast" aria-hidden="true"></span> Play Local
            </NavLink>
        </li>
        @if (Globals.CURR_USER is Player or Admin)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="onlinegameoptions" Match="NavLinkMatch.All">
                    <span class="oi oi-wifi" aria-hidden="true"></span> Play Online
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lessonmenu" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Lessons
            </NavLink>
        </li>
        @if (Globals.CURR_USER is Player or Admin)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="account" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> My Account
                </NavLink>
            </li>
        }
        </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
