@page "/localgameoptions"

<h3>LocalGameOptions</h3>

<button href="/localgame">
    <NavLink class="nav-link" href="localgame" Match="NavLinkMatch.All"> Start Game
    </NavLink>
</button>

@code {

}
