@page "/gamehistory"
@page "/gamehistory/{user}"
@using Shared.Models
@using Shared.Models.MongoDB;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h2>Match History:</h2>
    <br />
    <table>
        @if (GetGames() != null)
        {
            @foreach (Game game in GetGames())
            {
                <tr>
                    <td>
                        @if (game.player2 == null)
                        {
                            <a href="/analysisboard/@(game.Id)">@(game.Id) (Local Game)</a>
                        }
                        else
                        {
                            <a href="/analysisboard/@(game.Id)">@(game.Id) (vs @(game.player2))</a>
                        }
                    </td>
                </tr>
            }
        }
    </table>
    @code {
        [Parameter]
        public string user { get; set; }
        private List<Game> games;


        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            user = (await Globals.GetUser(localStorage)).name;
            IUser userInstance = UserDBInterface.GetUser(user);

            games =  GameDBInterface.GetGameList(userInstance);
        }

        private List<Game> GetGames()
        {
            IUser userInstance = UserDBInterface.GetUser(user);
            games = GameDBInterface.GetGameList(userInstance);
            return games;
        }

        private void Navigate()
        {

        }
    }
