@page "/"

<h1 style="text-align: center"><b>Welcome to Go!</b></h1>

<p style="font-size: 16px">
    Welcome to Go! A website that allows you to learn how to play and how to win the game Go.
    Go is played by two players on a board that ranges from 9x9 to 19x19. Each player alternates
    placing pieces on the board until either a player runs out of pieces or both players pass
    their turns. A game is won by getting a higher score using area scoring (by controlling territory or capturing
    pieces).
</p>
<p>
    Start a local game or take some lessons to learn how to play. If you already know how to play,
    create an account now to be able to play other players online.
</p>
