@page "/lessonmenu"
@using Shared.Models
@using Shared.Models.MongoDB;
@using System;
@using System.IO;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h2>Lessons:</h2>
<br />
<table>
    @if (GetLessons() != null)
    {
        @foreach (Shared.Models.Lesson lesson in GetLessons())
        {
            <tr>
                <td>
                    <a href="/lesson/@(lesson.name)">@(lesson.name)</a>
                </td>
            </tr>
        }
    }
</table>
@code {
        [Parameter]
        public string user { get; set; }
    private List<Shared.Models.Lesson> lessons;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (user != null)
        {
            user = (await Globals.GetUser(localStorage)).name;
        }
        IUser userInstance = UserDBInterface.GetUser(user);

        if (firstRender)
        {
            /*IMPORTANT: probably won't work on mac due to pathing differences. fix later*/
            foreach (string file in Directory.GetFiles("wwwroot\\lessons")) 
            {
                string jsonstr = File.ReadAllText(file);
                Shared.Models.Lesson parsedlesson = JsonSerializer.Deserialize<Shared.Models.Lesson>(jsonstr);
                Globals.LESSONS.InsertOne(parsedlesson);
            }
        }
    }

    private List<Shared.Models.Lesson> GetLessons()
    {
        IUser userInstance = UserDBInterface.GetUser(user);
        lessons = LessonDBInterface.GetLessonList();
        return lessons;
    }
}
